/* css for characters page */
/* set screen size */
html{
    max-height:100vh;
    max-width: 100vw;
}
/* body */
body{
    background-image: url(bgdesign/charbgp.png);
    background-size: cover;
    position:fixed;
}
/* The Overlay */
.overlay {
    /* Height & width */
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(56, 59, 148);
    background-color: rgba(13, 12, 60, 0.9);
    overflow-x: hidden;
    transition: 0.5s
  }
  /* Position the content inside the overlay */
.characters{
    position: relative;
    width: 100%;
  }
/* Menu display */
.menu{
    display: flex;
    color:aliceblue;
    position:relative;
    text-align: center;
}
h1{
    /* set margin between words in menu */
    margin:2%;
}
/* list design */
ul{
    list-style-type: none;
}
/* wraps character icons */
.charicons{
    display: flex;
    flex-wrap: wrap;
}
/* makes margin around menu */
.charmenu{
    margin:2%;
}
/* sets size, color, and text align for names */
.charname{
    color: rgb(154, 154, 147);
    font-size:16px;
    margin-top: 0px;
    text-align: center;
}
/* resize and makes "choosen" chars dimmer */
.choosen{
    width: 100px;
    opacity:30%;
    background-color: darkgrey 0.8;
}
/* makes stuff look the same for names */
.menuName{
    color:aliceblue;
    font-size:16px;
    margin-top: 0px;
    text-align: center;
}
/* resizes menu icons */
.profile{
    width:100px;
}
.project{
    width:100px;
}
.contact{
    width:100px;
}
.sources{
    width:100px;
}

  /* Position of open/close buttons*/
.open{
    position: fixed;
    left:20%;
    font-size: 40px;
    margin-top: 20%;
    display:block;
  }
.close{
    display: none;
    position:fixed;
    left:80%;
    font-size: 40px;
    margin-top: 20%;
}

/* right side of screen */
.right{
    height:100%;
    width:15%;
    position: fixed;
    margin-left: 85%;
    top: 0;
    background-color: black;
}
.avatars{
    color: aliceblue;
    display: flow-root;
    justify-content: space-between;
    align-content:center;
    margin-right: 15%;
}
.others{
    padding:5%;
    align-items: center;
    text-align: center;
}
.confirm{
    border-width: 3px;
    border-style: ridge;
    border-color: darkgoldenrod;
    box-shadow: 0 0 15px goldenrod;
    height:90px;
}
.name{
    font-size: 16px;
    margin: 0px;
    text-align: center;
}
.me{
    padding:5%;
    align-items: center;
    text-align: center;
}
.mine{
    height:90px;
}
