/*body{
    background-color: rgb(0, 0, 0);
}*/
html{
    height: 100vh;
}
/* flexbox contents */
.inline{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40vh;
    margin-bottom: 40vh;
}
/*make list not bulleted and flex*/
ul{
    list-style-type: none;
    display: flex;
}
li{
    margin:10px;
}
/* pfp height and width */
.pfp{
    align-self: center;
    width:5vw;
    height:5vw;
}
/* make glow */
.glow{
    box-shadow: 0 0 30px goldenrod;
}