/* Only use this css page for index.html page to avoid confusion */
html{
    max-height:100vh;
    max-width: 100vw;
}
/* bgp */
body{
    background-image: url(bgdesign/background.png);
    background-size:cover;
}
/* flexbox contents */
.inline{
    display: flex;
    justify-content: center;
    align-content: center;
}
/*make list not bulleted and flex*/
ul{
    list-style-type: none;
    display: flex;
}
li{
    /* puts space between pfps */
    margin:10px;
}
/* pfp height and width */
.pfp{
    width:5vw;
    height:5vw;
    /* fixes gap from inline */
    display: block;
}
/* pfp that glow */
.glow{
    box-shadow: 0 0 30px goldenrod;
    /* add border */
    border-style: groove;
    border-width: 3px;
    border-color: goldenrod;
}
/* dull */
.dull{
    filter: brightness(70%);
}
/* possible: change bg image for red and blue to one full div to look better*/
/* blue side */
.blue{
    background-image: url(bgdesign/blue.png);
    background-size: cover;
    height:20vh;
    margin-top: 40vh;
    margin-bottom: 40vh;
    padding-right:5vh;
}
/* red side */
.red{
    background-image: url(bgdesign/red.png);
    background-size: cover;
    height:20vh;
    margin-top: 40vh;
    margin-bottom: 40vh;
}
/* centerpiece */
.center{
    width:15vw;
    height:30vh;
    display: center;
    align-content: center;
    margin-top: 35vh;
}
/* button */
.button{

    position: fixed;
    bottom:25%;
    right: 45%;
}
.cbutton{
    width:140px;
    height:50px;
}