/*body{
    background-image: url("don't have yet");
}*/
/* flexbox contents */
.inline{
    display: flex;
    justify-content: center;
}
/*make list not bulleted and flex*/
ul{
    list-style-type: none;
    display: flex;
  }
li{
    padding:4px;
}